#$ vendor/bin/phpstan analyze

parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
    	- plugin.php
    paths:
        - includes/
        - tests/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'

# See full example in phpstan-full.neon
