<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		 backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 convertDeprecationsToExceptions="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnError="false"
		 stopOnFailure="false"
		 stopOnIncomplete="false"
		 stopOnSkipped="false"
		 verbose="true"
>
	<coverage includeUncoveredFiles="true">
		<include>
			<file>./plugin.php</file>
			<directory>./includes</directory>
		</include>
	</coverage>

	<testsuites>
		<testsuite name="Eco-Mode">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
