:root {
	/* Colors */
	--border-color: #e0e0e0;

	/* Spacing */
	--spacing: 1rem;
}

#eco-mode-settings {
	--panel-title-background: #053427;

	& .components-panel__body.is-opened {
		--panel-title-background: #34816b;
	}

	& .components-panel__body-title {
		background-color: var(--panel-title-background);

		& .components-panel__body-toggle {
			color: #fff;

			& svg {
				filter: invert(1);
			}
		}
	}
}

.eco-mode {
	/* Filter */
	&__filter {
		align-items: center;
		display: flex;
		gap: calc(var(--spacing) / 2);
		padding-block: var(--spacing);

		input[type="button"] {
			border: 1px solid var(--border-color);
			border-radius: calc(var(--spacing) / 2);
			display: block;
			padding: calc(var(--spacing) / 2) var(--spacing);

			&.active {
				background-color: #228b22;
				border-color: #228b22;
				color: #fff;
			}
		}
	}

	/* Chart */
	&__chart-wrapper {
		display: grid;
		gap: calc(var(--spacing) * 2);
		grid-template-columns: repeat(3, 1fr);
		padding-top: var(--spacing);
	}

	&__chart-panel {
		grid-column: 1 / 3;
	}

	&__chart-text {
		padding-top: var(--spacing);
	}

	/* Table */
	&__table {
		border: 1px solid var(--border-color);
	}

	&__table-header {
		align-items: center;
		border-bottom: 2px solid var(--border-color);
		display: flex;
		font-weight: 600;
		margin-left: -1px;
	}

	&__table-body-row {
		align-items: stretch;
		border-bottom: 1px solid var(--border-color);
		display: flex;
		margin-left: -1px;
	}

	&__table-column {
		border-inline: 1px solid var(--border-color);
		margin-right: -1px;
		padding: var(--spacing);

		&.url {
			width: 400px;
		}

		&.total {
			width: 80px;
		}

		&.avg-runtime {
			width: 150px;
		}

		&.req-size,
		&.res-size {
			width: 170px;
		}

		&.res-adjust {
			margin-left: auto;
			width: 300px;

			>div {
				padding-left: var(--spacing);
			}
		}
	}
}
